<h1>This page is about the creator of this CRM, me.</h1>

<p>In my spare time, I enjoy:</p>
<ul>
  <li>Cycling</li>
  <li>Techno</li>
  <li>Coding</li>
  <li>Doritos Sweet Chili Heat</li>
</ul>

<a href='/'>Home</a>
<a href='/contacts'>Contacts</a>
