  <main>

      <div class="counter">
        <p>There are <strong><%= Contact.count %></strong> contacts</p>
      </div>

      <% Contact.find_each do |contact| %>
        <div class="contact">
          <h5 class='contact-name'>
            <%= contact.full_name %> (<%= contact.email %>)
          </h5>
          <p class='options'>
            <a href="/contacts/<%= contact.id %>/edit">Edit</a> |
            <a href="#">Delete</a>
          </p>
        </div>
      <% end %>

    </main>
