<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Title</title>
  </head>

  <body>
    <header>
      <h1 class='title'>Bitmaker CRM</h1>
    </header>

    <nav>
      <div class="button">
        <a class='nav' href="#">Home</a>
      </div>
      <div class="button">
        <a class='nav' href="#">Add a contact</a>
      </div>
      <div class="button">
        <a class='nav' href="#">About</a>
      </div>
    </nav>

    <main>
      <!-- <%= yield %> -->

      <div class="counter">
        <p>There are <strong>5</strong> contacts</p>
      </div>

      <div class="contact">
        <h5 class='contact-name'>Marty McFly (marty@mcfly.com)</h5>
        <p class='options'>
          <a href="#">Edit</a> |
          <a href="#">Delete</a>
        </p>
      </div>

    </main>
    <footer>
      <p>
        © Bitmaker 2016
      </p>
    </footer>

  </body>


</html>
