<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Title</title>
  </head>

  <body>
    <header>
      <h1 class='title'>Bitmaker CRM</h1>
    </header>

    <nav>
      <div class="button">
        <a class='nav' href="#">Home</a>
      </div>
      <div class="button">
        <a class='nav' href="#">Add a contact</a>
      </div>
      <div class="button">
        <a class='nav' href="#">About</a>
      </div>
    </nav>

    <%= yield %>

    <footer>
      <p>
        © Bitmaker 2016
      </p>
    </footer>

  </body>


</html>
